html{
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url('https://media.giphy.com/media/3RVhpIZyLazo4/giphy.gif');
  background-position: center;
  background-size: cover;
  font-family: Raleway;
}

input[type='datetime-local']::before{
  content:'on...   ';
  opacity: 0.6;
}

.App{
  padding-top:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  font-family: Skranji;
  margin:60px auto 30px;
}

input{
  margin:5px;
  border-radius: 0 !important;
  box-shadow: 2px 2px 2px #555 !important;
}

.reminder-form{
  padding: 5px;
  width: 50%;

}

.list-group{
  width: 60%;
  margin-top: 5px;

}

.list-group-item{
    border-radius: 0 !important;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
}

@media only screen and (max-width:500px){
  .reminder-form{
    width: 90%;
  }
  .list-group{
    width: 90%;
    margin-left: 5px;
  }
}

.btn{
  border-radius: 0 !important;
  margin:2px !important;
  font-weight: 700;
}

.btn-success{
    background-color: #40E0D0;

}

.btn-danger{
  background-color: #f04;
}

.list-item{
  display: inline-block;
}

.delete-button{
  float: right;
  cursor: pointer;
  background: #f04;
  padding: 4px;
  color:#fff;
  border-radius:3px;
}
